.bg-drink{
    background-color: rgb(34, 34, 34) !important;
    color: white !important;
    border: 1px solid white !important;
}

.bg-btn-drink{
    background-color: #bd9768 !important;
    border: #bd9768 !important;
}

.bg-btn-drink:hover{
    background-color: #866844 !important;
}

.img-drink{
    width: 130px !important;
    height: 170px;
    object-fit: cover;
    transition: transform 0.3s;   
}

.img-drink:hover{
    transform: scale(1.3);
}