.header-background{
    background-image: url('../images/burger_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 500px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.burger-logo{
    object-fit: cover;
    border: 2px solid white;
    width: 140px;
    height: 140px;
    transition: transform 0.3s;
}

.burger-logo:hover{
    transform: scale(1.08);
}
