.register-width{
    width: 18rem !important;
}

.register-login-btn {
    padding: 10px 20px !important;
    background-color: #bd9768 !important;
    border: none !important;
    border-radius: 5px !important;
    transition: background-color 0.3s ease !important;
}

.register-login-btn:hover {
    background-color: #816a4f !important;
}