.bg-lanche{
    background-color: rgb(34, 34, 34) !important;
    color: white !important;
    border: 1px solid white !important;
}

.bg-btn-lanche{
    background-color: #bd9768 !important;
    border: #bd9768 !important;
}

.bg-btn-lanche:hover{
    background-color: #866844 !important;
}

.img-lanche{
    width: 170px !important;
    height: 125px;
    object-fit: cover;
    transition: transform 0.3s;   
}

.img-lanche:hover{
    transform: scale(1.3);
}